@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  list-style: none;
  background-color: #ffffff;
  
}


/* HEADER STYLES */

.top-wrapper {
  background-color: #014e56;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.footer-nav__list,
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  
}
.nav-link {
  transition: all 0.3s ease;
  
}

.nav-link:hover {
  color: #f67e7e;
}
header .contact-btn {
  border: 2px solid #ffffff;

}
.contact-btn,
.contact-toggle {
  padding: 10px 32px;
  border-radius: 24px;
  border: 2px solid #ffffff;
}

.contact-btn:hover,
.contact-toggle:hover {
  background-color: #ffffff;
  color: #002529;
}

.nav-toggle__icon,
.contact-toggle {
  display: none;
}
/* ===== BURGER STYLES ===== */
/* Yashirin burger */
.nav-toggle__icon,
.burger {
  display: none;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

.hero-section {
  padding-top: 129px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
}
.hero-contents {
  display: flex;
  gap: 30px;
}
.hero-text__left {
  width: 620px;
}
.hero-text__right  {
  width: 445px;
}
.hero-text__left h2 {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}
.hero-text__left h2 span {
  color: #f67e7e;
}
.rectangle {
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
}
.hero-text__right p {
  font-weight: 600;
  margin-top: 79px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
}

/* MAIN SECTION CONTENTS STYLE START */
.features-section {
  background-color: #012f34;
  padding: 140px 0;
}

.features-content {
  display: flex;
  flex-direction: row;
  gap: 125px;
  justify-content: space-between;
}
.features-content .left {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 445px;
}
.features-content .left .rectangle {
  background-color: #f67e7e;
}
.features-content .left h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #ffffff;
}
.features-content .right {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.feature-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}
.feature-item .circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #2c6269;
}
.circle-box {
  position: relative;
}
.circle-box img{
  position: absolute;
  top: -16px;
  right: 23px;
  width: 56px;
  height: 56px;
}

.feature-item div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.feature-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #f67e7e;
}
.feature-item p {
font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
}
.testimonial-section {
  background-color: #004047;
  padding: 140px 0;
  
}
.testimonial-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.testimonial-title h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  width: 932px;
}
.testimonial-title h4 span {
  color: #79c8c7;
}
.testimonial-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 36px 0 11px;
}
.testimonial .icon-quotes {
  width: 67px;
  height: 56px;
  position: absolute;
  opacity: 0.3;
  top: 0;
}
.testimonial p {
font-weight: 600;
font-size: 15px;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
color: #ffffff;
}.testimonial h4 {
  padding-top: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #79c8c7;
}
.testimonial small {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0 32px;
}
.testimonial .user-image {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.cta-section {
  background-color: #f67e7e;
  padding: 76px 0;
}
.cta-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-contents h2 {
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: 0px;
color: #012f34;
}
.cta-contents .contact-btn {
  border: 2px solid #012f34;
  color: #012f34;
}
.cta-contents .contact-btn:hover {
  background-color: #012f34;
  color: #ffffff;
}
footer {
  background-color: #002529;
  padding: 48px 0;
}
.footer-contents {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  gap: 125px;
}
.footer-left .nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 25px;

}
.footer-nav__list {
  display: flex;
  justify-content: space-between;
}

.footer-right p,
.footer-middle p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 60%;
 
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 16px;
  
}
.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials a i {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}
a i:hover {
  color: #f67e7e;
}
/* Mobil qurilma uchun */
@media (max-width: 980px) {
  .container {
    padding: 0px 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
  .nav-list {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 39px 48px;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    background-color: #2c6269;
    width: 255px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  .nav-list.active {
    display: flex;
  }
  .contact-btn {
    display: none;
  }
  
  .contact__toggle,
  .burger {
    display: block;
  }
  .contact__toggle {
    margin-top: 36px;
  }
  .burger-icon {
    z-index: 1000;
  }

  /* HERO CONTENTS */
  .hero-section {
    padding-top: 112px;
  }
  .hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .hero-text__left,
  .hero-text__right {
    width: 100%;
  }
  .hero-text__left h2 {
    text-align: center;
  }
  .hero-text__right .rectangle {
    display: none;
  }
  .hero-text__right p {
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .features-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 64px;
  }
  .features-section  {
    padding: 0;
  }
  .features-content .left,
  .features-content .right {
    width: 100%;
  }
 .feature-item {
  display: flex;
  flex-direction: row;
 }
 .testimonial-items {
  flex-direction: column;
  gap: 48px;
 }

 .testimonial h4 {
  padding-top: 16px;
 }
 .testimonial small {
  padding: 2px 0 16px;
 }
 .testimonial-title  {

  max-width: 327px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }
 .cta-contents h2 {
  font-size: 32px;
  line-height: 32px;
 }
 .cta-btn {
  display: block;
 }
 @media (max-width: 600px) {
  .cta-contents {
    display: flex;
    flex-direction: column;
    padding: 83px 0;
    gap: 24px;
  }
 }
 .testimonial-title h4 {
  font-size: 32px;
  line-height: 32px;
 }
 .footer-contents {
  flex-direction: column;
  gap: 32px;
 }
 .footer-left {
  justify-content: space-between;
 }
 .footer-left .nav-bar {
  gap: 53px;
 }
 
 .footer-right {
  display: flex;
  flex-direction: row;
 }
 
 .footer-middle p {
  line-height: 32px;
 }
}

@media (max-width: 480px) {
  .container {
    padding: 0 24px;
  }
  .header {
    padding-top: 48px;
  }
  .hero-section {
    padding-top: 80px;
  }
  .hero-text__left h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: center;
  }
  .hero-contents {
    gap: 18px;
  }
  .features-content .left h2 {
  font-size: 32px;
  }
  .features-content .left {
    width: 240px;
    margin-top: 64px;
  }
  .features-content {
    gap: 56px;
  }
  .feature-item {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .features-content .right {
    gap: 48px;
  }
  .feature-item div {
    gap: 8px;
    text-align: center;
  }
  .cta-contents h2 {
    text-align: center;
  }
  .cta-contents {
    padding: 0;
  }
  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-middle p {
    text-align: center;
    line-height: 25px;
  }
  .footer-left .nav-bar {
    gap: 24px;
  }
  .footer-left {
    gap: 24px;
  }
  .footer-contents {
    gap: 40px;
  }
}